
<div ng-controller="adminCtrl">
<div>
<table style="width:900px;">
    <tr>
        <td align="left"><img src="./public/images/tradeeyelogo.jpg" style="float: left;"></td>
    </tr>
</table>
</div>
<form class="form-horizontal" role="form" ng-controller="adminCtrl">
    <div class="form-group" >
        <label  class="col-sm-2 control-label">Product</label>
        <div class="col-sm-4">
            <select class="form-control" ng-model="product"  ng-init="product=products[0]" ng-options="product for product in products"></select>
        </div>
    </div>
    <div class="form-group" >
        <label  class="col-sm-2 control-label">Category</label>
        <div class="col-sm-4">
            <select class="form-control" ng-model="rcategory" ng-init="rcategory=ruleCategory[0]" ng-options="rcategory for rcategory in ruleCategory"></select>
        </div>
    </div>
    <div class="form-group" >
        <label  class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            <input class="form-control"  placeholder="Rule Name"  ng-model="rname">
        </div>
    </div>
    <div class="form-group" >
        <label  class="col-sm-2 control-label">Date</label>
        <div class="col-sm-4">
            <input class="form-control"  placeholder="Business Date" ng-model="businessdate">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success" ng-click="runrules(product,rcategory,rname,businessdate)">Run Rules</button>
        </div>
    </div>
    <div id="player_wrapper" >
        <iframe width="900" height="300" ng-src="{{detailFrame}}"></iframe>
    </div>
</form>
</div>
