<table style="width:1100px;">
    <tr>
        <td align="left"><img src="./public/images/tradeeyelogo.jpg" style="float: left;" /></td>
        <td align="right"><font color="SaddleBrown"><b><h3>CRITICAL CASE MANAGEMENT</h3></b></font></td>
    </tr>
</table>


<div class="ng-scope" ng-controller="AssetclassCtrl" style="margin-left: 800px; margin-top: 15px; width: 250px;">
    Asset Class:
    <select ng-model="myReport" ng-selected="myReport = assetclass[0]" ng-options="report.name for report in assetclass"></select><br>
</div>
<div  ng-controller="CasemtCtrl" style="margin-top: 30px">
    <div class="gridStyle" ng-grid="gridOptions"></div>
</div>

<script type="text/ng-template" id="selectassign.html">

    <div class="modal-header">

        Assign To: <input type="text" name="text" ng-model="text">
        <button ng-click="submit()">Submit</button>

        <!-- To check what user enters remove comments
        <pre>list={{list}}</pre>  -->

        <div  ng-controller="JiraCtrl">
        Issueid: {{data.id}}   <br/>
        Url: <a href="https://logic4g.atlassian.net/browse/{{data.key}}"> Go to JIRA </a>
        </div>
        <form>
            <button class="primary" data-ng-click="cancel()">Close</button>
        </form>
    </div>
</script>
