<table style="width:1100px;">
    <tr>
        <td align="left"><img src="./public/images/tradeeyelogo.jpg" style="float: left;"/></td>
        <td align="right"><font color="SaddleBrown"><b><h3>OUTSTANDING ALERTS</h3></b></font></td>
    </tr>
</table>
<div class="ng-scope" ng-controller="AssetclassCtrl" style="margin-left: 800px; margin-top: 15px; width: 250px;">
    Asset Class:
    <select ng-model="myReport" ng-selected="myReport = assetclass[0]"
            ng-options="report.name for report in assetclass"></select><br>
</div>
<div ng-controller="DailyAlertCtrl">
    <div style="margin-top: 30px">
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">TradeID - AT000141</h3>
            <h1> hello - {{tradeid}} </h1>
            <style type="text/css">
                table.gridtable {
                    font-family: verdana, arial, sans-serif;
                    font-size: 11px;
                    color: #333333;
                    border-width: 1px;
                    border-color: #666666;
                    border-collapse: collapse;
                }

                table.gridtable th {
                    border-width: 1px;
                    padding: 4px;
                    border-style: solid;
                    border-color: #666666;
                    background-color: #dedede;
                }

                table.gridtable td {
                    border-width: 1px;
                    padding: 4px;
                    border-style: solid;
                    border-color: #666666;
                    background-color: #ffffff;
                }
            </style>

            <div id="viewTwo" class="tabletop">
                <table class="gridtable" align="center">

                    <tr>
                        <td style="background:orange"><b>Rule</b></td>
                        <td>Trading is not allowed on certain bonds without override approval</td>
                    </tr>

                    <tr>
                        <td style="background:orange"><b>Desk</b></td>
                        <td>CDS</td>
                    </tr>

                    <tr>
                        <td castyle="background:orange"><b>Sub-Desk</b></td>
                        <td>IG</td>
                    </tr>

                    <tr>
                        <td style="background:orange"><b>Sub-Desk</b></td>
                        <td>IG</td>
                    </tr>

                    <tr>
                        <td style="background:orange"><b>Trader</b></td>
                        <td>Jemy Talyor</td>
                    </tr>

                    <tr>
                        <td style="background:orange"><b>ProductType</b></td>
                        <td>Credit</td>
                    </tr>

                    <tr>
                        <td style="background:orange"><b>Sub-ProductType</b></td>
                        <td>CDX</td>
                    </tr>

                    <tr>
                        <td style="background:orange"><b>Reference Obligation</b></td>
                        <td>CDX.NA.IG</td>
                    </tr>

                    <tr>
                        <td style="background:orange"><b>TradeDate</b></td>
                        <td>10-Oct-11</td>
                    </tr>

                    <tr>
                        <td style="background:orange"><b>EffectiveDate</b></td>
                        <td>11-Oct-11</td>
                    </tr>

                    <tr>
                        <td style="background:orange"><b>Scheduled Termination Date</b></td>
                        <td>12-Oct-16</td>
                    </tr>

                    <tr>
                        <td style="background:orange"><b> Notional Amount</b></td>
                        <td>$1,000,000</td>
                    </tr>

                    <tr>
                        <td style="background:orange"><b>FixedRate</b></td>
                        <td>3%</td>
                    </tr>

                    <tr>
                        <td style="background:orange"><b>UpfrontRate</b></td>
                        <td>100bp</td>
                    </tr>

                    <tr>
                        <td style="background:orange"><b>Fixed Rate Payer</b></td>
                        <td>ABC</td>
                    </tr>


                    <tr>
                        <td style="background:orange"><b>Floating Rate Payer</b></td>
                        <td>XYZ Bank</td>
                    </tr>

                    <tr>
                        <td style="background:orange"><b>Validation Status</b></td>
                        <td>Failed</td>
                    </tr>

                    <tr>
                        <td style="background:orange"><b>Type of validation failure</b></td>
                        <td>Outside purview of trading mandate</td>
                    </tr>
                </table>
            </div>

            <div class="modal-body">
                <form>
                    <button class="primary" data-ng-click="cancel()">Close</button>
                </form>
            </div>
        </div>
    </script>

</div>
