   <table style="width:900px;">
   	<tr>
   	<td align="left"><img src="./public/images/tradeeyelogo.jpg" style="float: left;" /></td>
   	<td align="right"><font color="SaddleBrown"><b><h3>DASHBOARD</h3></b></font></td>
   	</tr>
   	</table>

	<img src="./public/images/dashboard.png" height=500px/>

