<div class="container" ng-controller="RegisterController as registration">
    <h1>Register!</h1>
    <form name="registrationForm" novalidate
          ng-submit="registration.submit(registrationForm.$valid)">
        <div class="form-group">
            <label>User Name</label>
            <input type="text" name="username" class="form-control" ng-model="registration.user.username" required />
            <div ng-messages="registrationForm.username.$error" ng-messages-include="./views/messages.html"></div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="registration.user.password" required />
            <div ng-messages="registrationForm.password.$error" ng-messages-include="./views/messages.html"></div>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control"
                   ng-model="registration.user.confirmPassword"
                   required compare-to="registration.user.password" />
            <div ng-messages="registrationForm.confirmPassword.$error" ng-messages-include="./views/messages.html"></div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register!</button>
        </div>
    </form>

    <h3> {{ registration.message }}</h3>
</div>


