<div class="top">
    <div id="tabs" ng-controller="TabsCtrl">
        <div class="milan">
            <div ng-include="currentTab"></div>
        </div>
        <ul>
            <li ng-repeat="tab in tabs"
                ng-class="{active:isActiveTab(tab.url)}"
                ng-click="onClickTab(tab)">{{tab.title}}
            </li>
        </ul>
        <!-- <div id="mainView">
           <div ng-include="currentTab"></div>
         </div> -->
    </div>
</div>
