/*ul {
    list-style: none;
    padding: 0;

    margin: 0;
} */
body {
width:100%;
margin:auto;
}

/* changed code */
ul {
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
}
li {
    float: left;
    border: 1px solid white;
    border-bottom-width: 0;
    margin: 2px 2px 0px 2px;
    padding: 8px 8px 0px 8px;
    background-color: skyblue !important;
    color: White !important;
}
.milan {
    margin-top: 0px;
	clear: both;
	padding: 0 1em;
	}

/*ends here */	



/* li {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
	display: inline-block;
    padding: 5px 5px 0px 5px;
    background-color: skyblue !important;
    color: White !important;
}
#mainView {
    border: 1px solid black; 
	clear: both;
display: inline-block;
	padding: 0 1em;
} */
.active {
    background-color: #B0B0B0 !important;
	display: inline-block;
	position: relative;
    color: #000;
}
.top {
   padding-top: 0px;
  display: inline-block;
   border-collapse: collapse;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
	text-align: center;
    display: inline-block;
    /*border-color:wheat;*/
    /*background-color: Wheat !important;*/
    width: 1120px;
    height: 470px;
}
.tabletop{
  padding-top:1px;
display: inline-block;
}

.ngHeaderCell {
    background-color: Wheat !important;
    color: SaddleBrown !important;
}

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.ng-invalid {
    border-color: red;
    outline-color: red;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}

.messages {
    font-size: smaller;
    padding-top: 5px;
    padding-bottom: 10px;
    color: red;
}

